@import "tailwindcss";

:root {
  --background: #0f172a;
  --foreground: #e5e7eb;
}

body {
  background: linear-gradient(135deg, #334155, #1e293b, #0f172a);
  color: var(--foreground);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}
